.dat-info > * {
  max-width: 100%;
}

.thumb {
  width: 48px;
  height: 48px;
  border-radius: 50%;
  object-fit: cover;
  margin-top: -8px;
  margin-bottom: -8px;
}

.favicon {
  width: 32px;
  height: 32px;
  object-fit: cover;
}